body {
  padding: 5em;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.c-tilt {
  width: 500px;
  height: 500px;
  background-color: grey;
  margin: 5vh;
}